.greendark{
    background-color: #7c9f31;
}

.green{
    background-color: #87ad34;
}

#table td:hover { 
    background-color: #00000070;
 }

@media (min-width: 978px) {

tr {
    line-height: 8rem;
    min-height: 8rem;
    height: 8rem;
 }
}

@media (max-width: 978px) {

tr {
    line-height: 6rem;
    min-height: 6rem;
    height: 6rem;
 }
}



 
 .table-bordered td, .table-bordered th {
    border: 2px solid #87ad34;
}

.whitefont{
    color: white;
}

@media (max-width: 480px) {
    .nopadding{
        padding: 0%;
    }
}
